p {
  margin: 0;
}

.book-row {
  display: flex;
  align-items: center;
  height: 140px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  margin: 15px 0;
  padding: 20px 25px;
}

.book-row .book-specs {
  flex-basis: 35%;
}

.book-row .book-completion {
  flex-basis: 35%;
  flex-direction: row;
  margin-right: 38px;
  border-right: 1px solid #e8e8e8;
}

.book-row .book-chapters {
  flex-basis: 25%;
}

.book-row .category {
  margin-bottom: 5px;
  height: 18px;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-row .title {
  margin: 0;
  height: 29px;
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-row .author {
  margin-bottom: 20px;
  height: 19px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-row .links-btn {
  padding-left: 0;
  margin-right: 20px;
  border: none;
  background-color: unset;
  height: 19px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

/* book chapters */

.book-chapters {
}

.book-chapters .curr-chapt {
  width: 126px;
  height: 18px;
  opacity: 0.5;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.book-chapters .chapter {
  width: 75px;
  height: 21px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-three);
}

.book-chapters .update-btn {
  width: 184px;
  height: 33px;
  border-radius: 3px;
  background-color: #0290ff;
  border: 1px solid #bbb;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

/* percentage wheel */

.percent-wheel {
  margin-left: 17%;
  float:left;
}

.loader {
  display: flex;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  border-right: 6px solid #3498db;
  border-bottom: 6px solid #3498db;
  transform: rotate(45deg);
  width: 60px;
  height: 60px;
  margin: 0;
}

.percent-details{
  float: right;
  text-align: left;
  margin-right: 35%;
}

.percent-details p {
  margin: 10px 0 0 0;
}

.percent-details .percent-num {
  width: 68px;
  height: 39px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin: 0;
}

.percent-details .completion {
  width: 80px;
  height: 18px;
  opacity: 0.5;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:  #121212;;
}
