p {
  margin: 0;
}

.book-row {
  display: flex;
  height: 140px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  margin: 15px 0;
  padding: 20px 25px;
}

.book-row .category {
  margin-bottom: 5px;
  height: 18px;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-row .title {
  margin: 0;
  height: 29px;
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-row .author {
  margin-bottom: 20px;
  height: 19px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book-row .links-btn {
  padding-left: 0;
  margin-right: 20px;
  border: none;
  background-color: unset;
  height: 19px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

/* book chapters */

.book-chapters {
}

.book-chapters .curr-chapt {
  width: 126px;
  height: 18px;
  opacity: 0.5;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.book-chapters .chapter {
  width: 75px;
  height: 21px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-three);
}

.book-chapters .update-btn {
  width: 184px;
  height: 33px;
  border-radius: 3px;
  background-color: #0290ff;
  border: 1px solid #bbb;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
